@import '../../../../styles/constants';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  box-shadow: 0px 0px 10px #ccc;
  caret-color: transparent;
  position: relative;
  z-index: 100;

  &__logo {
    img{
      height: 80px;
    }
  }

  &__search{

    display: flex;
    align-items: center;
    position: relative;

    input[type="text"]{
      width: 350px;
      font-size: 14px;
      padding: 10px 30px 10px 10px;
      border: 1px solid $blue400;
      border-radius: 5px;
      color: $blue900;
    }
    img{
      position: absolute;
      right: 8px;
      width: 18px;
      height: 18px;
      opacity: 0.5;
    }

  }

  &__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    a, a:visited, a:focus, a:hover {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
      color: $blue400;
    }
    a:hover {
      text-shadow: $blue400 1px 1px 15px;
    }

    .avatar {
      &__wrapper {
        width: 50px;
        height: 50px;
        background-color: $blue200;
        border-radius: 50%;
        border: solid 1px $lightsand100;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__img {
        width: 60%;
      }

      &__initials {
        padding-top: 15px;
        color: $lightsand100;
        font-size: $font-large;
        line-height: $line-height28;
        font-weight: $font-weight-500;
        letter-spacing: 0.1em;
      }
    }
  }
}
