<div *ngIf="task" class="task">
  <div class="task__title">{{ task.title }}</div>

  <div class="row">
    <div class="col-9">
      <p class="task__name">
        <ng-container *ngIf="assignee$ | async as assignee">
          {{ assignee.firstName! }} {{ assignee.lastName! }}
        </ng-container>
      </p>
    </div>
    <div class="col-3 my-1 fw-bold text-end">{{ task.dateStart | date }}</div>
  </div>

  <div class="task__change">
    <div class="col-3 mb-3">
      <label for="">Change Status:</label>
      <select name="assignedTo" [(ngModel)]="task.status" class="mb-1 form-select">
        <option *ngFor="let sta of status">
          {{ sta }}
        </option>
      </select>
    </div>
    <div class="col-9 text-end">
      Story Points: <span>{{ task.storyPoint }}</span>
    </div>
  </div>

  <div class="task__description">
    <h4>Description:</h4>
    <div class="col-12">
      <p class="text-muted space-font m-0">{{ task.content }}</p>
    </div>
  </div>

</div>
