@import './../../../styles/constants';

.jira__all{
  height: 100%;
  padding-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgba($color: $blue400, $alpha: 0.1);
  box-shadow: 0px 0px 10px #ccc;
}

.mynav  {
  background-color: $blue400!important;
  color: #fff!important;
  border-radius: 10px 10px 0 0;
}
.content-hover:hover {
  background-color: $blue500!important;
}
.nav-link, .navbar-brand {
  color: #fff!important;
}

.srch-issue {
  height: 50%;
}

.card-Body-Hover {
  border: 1px solid lightgray;
}

.task {
  background-color: rgba($color: $blue400, $alpha: 0.1);
  padding: 10px;
  margin-bottom: 10px !important;
  cursor: move;
  transition: all 0.3s;
}
.card-Body-Hover:hover {
  background-color: rgba($color: $blue400, $alpha: 0.3);
}

.modal-header {
  justify-content: space-between;
}

.btn-primary, .btn-light{
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  background-color: $lightsand300;
  border-color: $lightsand300;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: $lightsand100;
  }
}

.btn-light{
  background-color: $blue400;
  border-color: $blue400;
  margin-right: 10px;

  &:hover {
    background-color: $blue500;
    border-color: $blue400;
  }
}
