<div class="project">
  <h2 class="project__title">Knowledge management</h2>
  <p class="project__info">
    Our purpose is to develop information system for Knowledge management in IT projects
  </p>
  <div class="project__date">{{12.03.2024 | date}} - {{20.05.2024 | date}}</div>

  <div class="project__objective">
    <h3 class="objective__title">Objective</h3>
    <p class="objective__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia aspernatur illum rerum laborum corrupti, impedit at, delectus modi accusamus placeat ex mollitia, maiores consequuntur quod quo? Non, explicabo at.</p>
  </div>

  <div class="project__team team">
    <h3 class="team__title">Team members</h3>
    <div class="team__owner">Project owner: "hjjk jlkjlk (as link)"</div>
    <div class="team__members">
      <div class="team__member">
        <div class="team__member-name">{{ 'member.firstName' }} {{ 'member.lastName' }}</div>
        <div class="team__member-role">{{ 'member.role' }}</div>
        <a class="team__member-email">{{ 'посилання на імейл' }}</a>
      </div>

      <div class="team__member">
        <div class="team__member-name">{{ 'member.firstName' }} {{ 'member.lastName' }}</div>
        <div class="team__member-role">{{ 'member.role' }}</div>
        <a class="team__member-email">{{ 'посилання на імейл' }}</a>
      </div>

      <div class="team__member">
        <div class="team__member-name">{{ 'member.firstName' }} {{ 'member.lastName' }}</div>
        <div class="team__member-role">{{ 'member.role' }}</div>
        <a class="team__member-email">{{ 'посилання на імейл' }}</a>
      </div>
    </div>
  </div>

  <div class="project__notes notes">
    <h3 class="notes__title">Project notes</h3>
    <a [routerLink]="['/notes']" class="notes__link">Go to Notes</a>
  </div>

  <div class="project__jira jira">
    <h3 class="jira__title">Our Tasks on Jira</h3>
    <a href="#" class="jira__link">Link to Jira</a>
  </div>

  <!-- <div class="project__brainstorming brain">
    <h2 class="brain__title">Brainstorming</h2>
    <div class="brain__facilitator">
      <h3 class="brain__facilitator-title">Facilitator</h3>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
    </div>
    <div class="brain__facilitator">
      <h3 class="brain__facilitator-title">Participants</h3>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
      <p class="brain__facilitator-name">John Doe '(посилання на імейл)'</p>
    </div>
    <div class="brain__videolink">
      <h3 class="brain__videolink-title">Video conference link</h3>
      <a href="#" class="brain__videolink-link">www.zoom.us/</a>
    </div>
  </div> -->

</div>
