<div class="comment">
  <div class="comment__dateCreated">{{ comment.dateCreated | date : "MMM dd, yyyy 'at' HH:mm" }}</div>
  <div class="comment__content">{{ comment.content }}</div>
  <div class="comment__image"><img src="{{ comment.image }}" /></div>

  <div class="comment__author" *ngIf="author">
    <div class="comment__author-name">{{ author.firstName }} {{ author.lastName }}</div>
    <div class="comment__author-role">{{ author.role }}</div>
  </div>

  <button class="comment__delete" *ngIf="isAuthor" (click)="onDeleteComment(comment.id!)">Delete</button>
</div>
