<div class="people">
    <h3>People</h3>
    <div class="people__info">
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Liubov Zatsepina</a>
            </div>
            <div class="info__role">FE Developer</div>
            <div class="info__number">+380674545121</div>
            
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span>kirlyubov&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Dima Dmitrenko</a>
            </div>
            <div class="info__role">BE Developer</div>
            <div class="info__number">+380674562458</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> dima123&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Oleg Zatsepin</a>
            </div>
            <div class="info__role">FE Developer</div>
            <div class="info__number">+380647881558</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> oleg.zats&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Vitaliy Paper</a>
            </div>
            <div class="info__role">QA Engineer</div>
            <div class="info__number">+380678451149</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> vitaliy&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Petro Onipchuk</a>
            </div>
            <div class="info__role">PM Developer</div>
            <div class="info__number">+380678562341</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> petro23&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Nazar Frontenko</a>
            </div>
            <div class="info__role">UI Designer</div>
            <div class="info__number">+380644581558</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> nazar&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Mykola Dilovyi</a>
            </div>
            <div class="info__role">BA</div>
            <div class="info__number">+480647847895</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> mykola&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Olena Franko</a>
            </div>
            <div class="info__role">DevOps</div>
            <div class="info__number">+480647845458</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> franko&#64;gmail.com</a>
            </div>
        </div>
        <div class="info">
            <div class="info__name">
                <a class="dropdown-item" >Tomas Gray</a>
            </div>
            <div class="info__role">BE Developer</div>
            <div class="info__number">+44064788451</div>
            <div class="info__project"><span>Project: </span>Knowledge management IS</div>
            <div class="info__email">
                <a href="mailto:dima123@gmail.com" type="email"><span>Write to: </span> tomasgray&#64;gmail.com</a>
            </div>
        </div>
    </div>
</div>
