.notes {
  height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(223, 233, 243, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

  .note {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;

    &__title {
      color: #090090;
      margin-bottom: 15px;
    }

    &__content {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    &__date {
      font-weight: 12px;
      color: #ccc;
      text-align: end;
      margin-bottom: 10px;
    }
  }
}
